:root {
    --primary: #df5025;
    --secondary: #44bba4;
    --light: #ffffff;
    --dark: #3D5A80;
    --curtain: #3d5a804d;
}

.curtainText{
    color: var(--dark);
}

h6,
.h6,
.fw-semi-bold {
    font-size: 10px;
    color: var(--dark) !important;
}